html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  padding: 0;
  display: grid;
  text-align: center;
  grid-template-rows: 50px 500px 30px;
}

.logo {
  height: 70px;
}

nav {
  grid-area: n;
  display: flex;
  justify-content: space-evenly;
}

main {
  grid-area: m;
}

.Homepage {
  background-image: url("home-mountain.png");
  background-size: cover;
  height: 500px;
}

/* .contact-form {
  display: inline-grid;
} */

.footer {
  grid-area: f;
  position: absolute;
  bottom: 0;
  width: 100%;
}