html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit
}

.container {
  text-align: center;
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.logo {
  height: 70px;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

.Homepage {
  background-image: url("home-mountain.png");
  background-size: cover;
}

.contact-form {
  display: inline-grid;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}