/* colors: turquoise 3cc194, grey 373543 */

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  padding: 0;
  display: grid;
  text-align: center;
  grid-template-rows: 50px 500px 30px;
  background: #f4f7f6;
}

.container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  max-width: 18000px;
}

.one {
  height: 100vh;
}

nav {
  text-transform: uppercase;
  display: flex;
  padding: 10px;
  background: #f4f7f6;
  font-size: 15px;
}

.nav-left {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}

.nav-left a:hover {
  transition: .1s opacity linear;
  transition-property: opacity;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-delay: 0s;
  opacity: 0.5;
}

.nav-right {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}

.nav-right a:hover {
  transition: .1s opacity linear;
  transition-property: opacity;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-delay: 0s;
  opacity: 0.5;
}

.logo {
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  position: center;
}

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #373543;
  letter-spacing: .14em;
}

.main {
  grid-area: m;
  height: 450px;
  background: #f4f7f6;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Homepage {
  background-image: url("https://i.imgur.com/45S4BNr.jpg");
  background-size: cover;
  height: 565px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  letter-spacing: .32em;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}

.Homepage h1 {
  font-size: 40px;
  letter-spacing: .32em;
}

.Homepage h3 {
  font-weight: 400;
}

.about-button {
  border: solid 1px #3cc194;
  background-color: #3cc194;
  border-radius: 300px;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  padding: 21px 34px;
  color: white;
  letter-spacing: .28em;
  font-weight: 400;
  transition: .1s opacity linear;
  transition-property: opacity;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.about-button:hover {
  opacity: 0.5;
}

.Events {
  background-image: url("https://i.imgur.com/xmHOpAU.jpg");
  background-size: cover;
  height: 565px;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  letter-spacing: .32em;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}

.Gallery {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #373543;
  letter-spacing: .32em;
  font-size: 28px;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}

/* .contact-form {
  display: inline-grid;
} */

/* ABOUT */

.about {
  background-image: url("https://i.imgur.com/45S4BNr.jpg");
  background-size: cover;
  height: 565px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  letter-spacing: .32em;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}

.mission-statement-title {
  text-align: left;
  margin-left: 60px;
}

.mission-statement-text {
  margin-left: 60px;
  margin-right: 60px;
  text-align: left;
  font-size: 16px;
}

.board-title {
  text-align: left;
  margin-left: 60px;
}

.board-members {
  list-style: none;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1px;
}

.trustee-title {
  font-size: 12px;
}

.Philanthropy {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  background-color: #373543;
  height: 565px;
  letter-spacing: .32em;
}

.pwna {
  width: 300px;
  border-radius: 10px;
}

.Connect {
  background-image: url("https://i.imgur.com/abQ4UvT.jpg");
  background-size: cover;
  height: 565px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  color: white;
  letter-spacing: .32em;
}

.connect-h3 {
  font-size: 20px;
  text-align: left;
  margin-left: 30px;
  padding-bottom: 7px;
  padding-top: 40px;
  font-weight: 500;
}

.Connect a {
  font-size: 20px;
  color: white;
}

/* FOOTER */

.two {
  height: 100vh;
  background: #3cc194;
}

.footer {
  grid-area: f;
  position: absolute;
  bottom: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-nav {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 75%;
  padding-bottom: 75px;
}

.footer-nav a {
  color: white;
}

.footer-nav a:hover {
  transition: .1s opacity linear;
  transition-property: opacity;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-delay: 0s;
  opacity: 0.5;
}

.footer-logo {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.copyright {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 8;
  color: white;
  position: absolute;
  width: 100%;
  bottom: -80%;
}

#burgerToggle {
  /* visibility: hidden; */
  display: none;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  color: white;
}

#burgerToggle input {
  text-decoration: none;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#burgerToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #373543;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#burgerToggle span:first-child {
  transform-origin: 0% 0%;
}

#burgerToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#burgerToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#burgerToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#burgerToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#burger {
  position: absolute;
  width: 400px;
  /* height: 500px; */
  display: flex;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: #373543;
  color: white;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  text-decoration: none;
}

#burger li {
  color: white;
}

#burger {
  display: block;
}

#burgerToggle input:checked~ul {
  transform: none;
}

@media (max-width: 730px) {
  #burgerToggle {
    display: block;
    visibility: visible;
  }
  #burger {
    font-size: 1.5em;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-left {
    display: none;
  }
  .nav-right {
    display: none;
  }
}
