/* colors: turquoise 3cc194, grey 373543 */

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  padding: 0;
  display: grid;
  text-align: center;
  grid-template-rows: 50px 500px 30px;
  background: #f4f7f6;
}

.container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.one {
  height: 100vh;
}

nav {
  text-transform: uppercase;
  display: flex;
  padding: 10px;
  background: #f4f7f6;
  font-size: 15px;
}

.nav-left {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}

.nav-left a:hover {
  transition: .1s opacity linear;
  transition-property: opacity;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-delay: 0s;
  opacity: 0.5;
}

.nav-right {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}

.nav-right a:hover {
  transition: .1s opacity linear;
  transition-property: opacity;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-delay: 0s;
  opacity: 0.5;
}

.logo {
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  position: center;
}

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #373543;
  letter-spacing: .14em;
}

.main {
  grid-area: m;
  height: 450px;
  background: #f4f7f6;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Homepage {
  background-image: url("home-mountain3.png");
  background-size: cover;
  height: 565px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  letter-spacing: .32em;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}

.Homepage h1 {
  font-size: 40px;
  letter-spacing: .32em;
}

.Homepage h3 {
  font-weight: 400;
}

.about-button {
  border: solid 1px #3cc194;
  background-color: #3cc194;
  border-radius: 300px;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  padding: 21px 34px;
  color: white;
  letter-spacing: .28em;
  font-weight: 400;
  transition: .1s opacity linear;
  transition-property: opacity;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.about-button:hover {
  opacity: 0.5;
}

.Events {
  background-image: url("background-2.webp");
  background-size: cover;
  height: 565px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  letter-spacing: .32em;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}

.Gallery {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #373543;
  letter-spacing: .32em;
  font-size: 28px;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}

/* .contact-form {
  display: inline-grid;
} */

/* ABOUT */

.about {
  background-image: url("home-mountain3.png");
  background-size: cover;
  height: 565px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  letter-spacing: .32em;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}

.mission-statement-title {
  text-align: left;
  margin-left: 30px;
}

.mission-statement-text {
  margin-left: 30px;
  text-align: left;
  font-size: 16px;
}

.board-title {
  text-align: left;
  margin-left: 30px;
}

.board-members {
  list-style: none;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1px;
}

.trustee-title {
  font-size: 12px;
}

.Philanthropy {
  background-image: url("background-3.webp");
  background-size: cover;
  height: 565px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  letter-spacing: .32em;
}
.Connect {
  background-image: url("Connect-img.webp");
  background-size: cover;
  height: 565px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  color: white;
  letter-spacing: .32em;
}

.connect-h3 {
  font-size: 20px;
  text-align: left;
  margin-left: 30px;
  padding-bottom: 7px;
  padding-top: 40px;
  font-weight: 500;
}

.Connect a {
  font-size: 20px;
  color: white;
}

/* FOOTER */

.two {
  height: 100vh;
  background: #3cc194;
  /* opacity: 0.5; */
}

.footer {
  grid-area: f;
  position: absolute;
  bottom: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-nav {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  padding-bottom: 75px;
}

.footer-nav a {
  color: white;
}

.footer-nav a:hover {
  transition: .1s opacity linear;
  transition-property: opacity;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-delay: 0s;
  opacity: 0.5;
}

.footer-logo {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.copyright {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 8;
  color: white;
  position: absolute;
  width: 100%;
  bottom: -80%;
}